<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css}">

    <script src="/webjars/jquery/2.2.4/jquery.min.js" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    <title>List of recipes</title>
</head>
<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row" style="align-items:center;display:flex;">
            <div class="col-md-10 col-md-offset-1">
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <h1 class="panel-title" th:text="${recipe.name}"></h1>
                                <div class="col-md-12 form-group" style="text-align:right; padding-right:5px;">
                                    <a th:href="@{'/recipe/' + ${recipe.id} + '/image'}" class="btn btn-default" role="button">Change image</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../../static/images/guac.jpeg" th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                                         width="200" height="200">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <h5><strong>Description:</strong></h5>
                                </div>
                                <div class="col-md-6">
                                    <p  th:text="${recipe.description}"></p>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <h5><strong>Categories:</strong></h5>
                                </div>
                                <div class="col-md-9">
                                    <ul th:each="category: ${recipe.categories}">
                                        <li th:text="${category.description}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5><strong>Prep Time:</strong></h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:utext="${recipe.prepTime} + ' mins'">0 min</p>
                                </div>
                                <div class="col-md-3">
                                    <h5><strong>Difficulty:</strong></h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:utext="${recipe.difficulty.getName()}">Easy</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5><strong>Cooktime:</strong></h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:utext="${recipe.cookTime} + ' mins'">0 min</p>
                                </div>
                                <div class="col-md-3">
                                    <h5><strong>Servings:</strong></h5>
                                </div>
                                <div class="col-md-3">
                                    <p th:utext="${recipe.servings}">0</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5><strong>Source:</strong></h5>
                                </div>
                                <div class="col-md-9">
                                    <a th:href="${recipe.source}" th:text="${recipe.source}">www.simplyrecipes.com</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5><strong>URL:</strong></h5>
                                </div>
                                <div class="col-md-9">
                                    <a th:href="${recipe.url}" th:text="${recipe.url}">https://www.simplyrecipes.com/recipes/perfect_guacamole/</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title"><strong>Ingredients</strong></h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul th:each="ingredient: ${recipe.ingredients}">
                                        <li th:text="${ingredient.amount != null}
                                            ? ${#numbers.formatInteger(ingredient.amount,1)} + ' ' + ${ingredient.uom.description} + ' ' + ${ingredient.description}
                                            : '' + ${ingredient.description}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title"><strong>Directions</strong></h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:text="${recipe.directions}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title"><strong>Notes</strong></h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p th:utext="${recipe.notes.recipeNotes}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>